
   <form [formGroup]="loginform" (submit)="login()">
    <div class="imgcontainer">
      <img src="https://ems1.co.za/images/dessin-livraison.jpg" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" id="username" name= "username" formControlName= "username" [(ngModel)]="UserLogin.username" />
  
      <label for="psw"><b>Password</b></label>
      <input type="password" id ="password" name="password" formControlName="password" [(ngModel)]="UserLogin.password" /> 
          
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>





